<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/balloon.css">
    <style>
        tr td input {
            text-align: right;
        }
        tr th {
            text-align: left;
        }        table, tr, th, td, select, input, form, li, p, textarea, a, h4 {
            font-family: Verdana, Arial, Helvetica, sans-serif;
            font-size: xx-small;
        }
        .validError {
            background: #f1c2c1;
        }
    </style>
</head>

<body>
<form>
<table align="center" border="1">
    <tbody>
    <tr>
        <th># de solicitud</th>
        <td><input type="text" readonly name="solicitudValue" value="<%=solicitud.getNumSolicitud() %>"/></td>
    </tr>
    <tr>
        <th>Marca*</th>
        <td><input type="text" readonly name="marcaValue" value="<%=(null==solicitud.getMarca()?"": solicitud.getMarca()) %>"/></td>
    </tr>
    <tr>
        <th>Número de factura*</th>
        <td><input type="text"  maxlength="20" id="noFactura" name="noFactura"/></td>
    </tr>
    <tr>
        <th>UUID de Factura*</th>
        <td><input type="text"  maxlength="36" id="uuidFactura" name="uuidFactura"/>
            <span data-balloon="Whats up!" data-balloon-pos="right" style="font-size: 15px; color: red; ">!</span></td>
    </tr>
    <tr>
        <th>Importe Factura (con IVA) MXN*</th>
        <td><input type="text" maxlength="36" id="importeFactura" name="importeFactura" value="0.0"/></td>
    </tr>
    <tr>
        <th>Fecha de emisión de la Factura*</th>
        <td><input type="date" name="fechaEmisionValue"/></td>
    </tr>
    <tr>
        <th>Número de VIN*</th>
        <td><input type="text"  maxlength=17 id="idVIN" name="idVIN" class="noEspacios"/></td>
    </tr>
    <tr>
        <th>Modelo*</th>
        <td><input type="text" maxlength="15" id="idModelo" name="idModelo" class="noEspacios"/></td>
    </tr>
    <tr>
        <th>Versión*</th>
        <td><input type="text" maxlength="15" id="versionValue" name="versionValue"/></td>
    </tr>
    <tr>
        <th>Año*</th>
        <td><input type="text" maxlength="4" id="AgnioValue" name="AgnioValue"/></td>
    </tr>
    <tr>
        <th>Nuevo o Usado*</th>
        <td><select name="nuevoUsadoValue">
            <option value="N">N</option>
            <option value="U">U</option>
        </select></td>
    </tr>
    <tr>
        <th>Subir archivo PDF*</th>
        <td><input type="text" id="nameFilePDF" disabled/>
        <button id="fileSelectPDF">Buscar</button></td>
    </tr>
    <tr>
        <th>Subir archivo XML*</th>
        <td><input type="text" id="nameFileXML" disabled/>
            <button id="fileSelectXML">Buscar</button></td>
    </tr>
    </tbody>
</table>
    <div id="inputPdf" style="display:none">
        <input type="file" id="fileElem" style="display:none" accept="application/pdf">
    </div>
    <div id="inputXml" style="display:none">
        <input type="file" id="fileElemenXML" style="display:none" accept="application/xml">
    </div>

    <div style="display:flex; flex-direction: column;  align-items: center; min-width: 320px;">
        <div style="margin-top: 7px;">
            <div style="font-weight: bold; display: inline; margin-right: 30px; ">Resultado de validación de CFDI</div>
            <input readonly type="text" value="Aqui va el valor"/>
        </div>
        <div style="margin-top: 7px;">
            <div style="font-weight: bold; display: inline; margin-right: 10px;">Resultado de evaluación SOLICITUD</div>
            <input readonly type="text" value="Aqui va el valor"/>
        </div>
    </div>

    <div>
        <ul style="display: flex; justify-content:space-around; padding:0 20% 0 20%; list-style:none">
            <li><input type="submit" value="Enviar" name="btnEnviar"/></li>
            <li><input type="submit" value="Guardar" name="btnGuardar" id="btnGuardar" /></li>
            <li><input type="submit" value="Cancelar" name="btnCancelar"/></li>
            <li><input type="submit" value="Regresar" name="btnRegresar" id="btnRegresar"/></li>
        </ul>
    </div>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="js/jquery.number.min.js"></script>
<script>
    var archivoPDF = null;
    var archivoXML = null;

    $(document).ready(function () {

        var answer = confirm("Save data?");

        $("#btnRegresar").click(function (e) {
            e.preventDefault();
            var bandera = true;
            $("#noFactura").trigger("keyup");
            bandera = bandera && !$("#noFactura").hasClass("validError");
            $("#uuidFactura").trigger("keyup");
            bandera = bandera && !$("#uuidFactura").hasClass("validError");
            $("#importeFactura").trigger("keyup");
            bandera = bandera && !$("#importeFactura").hasClass("validError");
            $("#idVIN").trigger("keyup");
            bandera = bandera && !$("#idVIN").hasClass("validError");
            $("#idModelo").trigger("keyup");
            bandera = bandera && !$("#idModelo").hasClass("validError");
            $("#version1").trigger("keyup");
            bandera = bandera && !$("#version1").hasClass("validError");
            $("#AgnioValue").trigger("keyup");
            bandera = bandera && !$("#AgnioValue").hasClass("validError");
            $("#versionValue").trigger("keyup");
            bandera = bandera && !$("#versionValue").hasClass("validError");
            return bandera;
        });
        $('#btnGuardar').click(function(e) {
            e.preventDefault();
            $('#alta').attr('action','<%=componentRequest.createComponentURL(componentRequest.getNode(), guardarEvent)%>');
            $('#alta').submit();
        });

        $(".noEspacios").keypress(function (e) {
            if(e.keyCode == 32){
                e.preventDefault();
                return false;
            }
        });

        var noFactura1 = $("#noFactura");
        noFactura1.keypress(function (e) {
            if(e.keyCode == 32){
                e.preventDefault();
                return false;
            }

        });
        noFactura1.keyup(function () {
            noFactura1.val(noFactura1.val().toUpperCase());
            var size = noFactura1.val().length;
            if (size == 0 || size < 7) {
                noFactura1.addClass("validError");
            } else {
                noFactura1.removeClass("validError");
            }
        });

        var uuidFactura1 = $("#uuidFactura");
        uuidFactura1.keyup(function () {
            uuidFactura1.val(uuidFactura1.val().toUpperCase());
            if (uuidFactura1.val().length < 36) {
                uuidFactura1.addClass("validError");
            } else {
                uuidFactura1.removeClass("validError");
            }
        });

        var importeFactura1 = $('#importeFactura');
        importeFactura1.keyup(function () {
            if (importeFactura1.val().length = 0 || importeFactura1 == 'undefined' || importeFactura1.val() <= 0) {
                importeFactura1.addClass("validError");
            } else {
                importeFactura1.removeClass("validError");
            }
        });
        $('#importeFactura').number(true, 2);

        var idModelo1 = $('#idModelo');
        idModelo1.keyup(function (even) {
            idModelo1.val(idModelo1.val().toUpperCase());
            if (idModelo1.val().length === 0) {
                idModelo1.addClass("validError");
            } else {
                idModelo1.removeClass("validError");
            }
        });

        var version1 = $('#versionValue');
        version1.keyup(function (even) {
            version1.val(version1.val().toUpperCase());
            if (version1.val().length === 0) {
                version1.addClass("validError");
            } else {
                version1.removeClass("validError");
            }
        });

        var idVIN1 = $('#idVIN');
        idVIN1.keyup(function (even) {
            idVIN1.val(idVIN1.val().toUpperCase());
            if (!idVIN1.val().match(/^(?![^IOQÑ]*[IOQÑ])[A-Z0-9]{17}$/i)) {
                idVIN1.addClass("validError");
            } else {
                idVIN1.removeClass("validError");
            }
        });

        var idAgnio1 = $('#AgnioValue');
        idAgnio1.keyup(function (even) {
            idAgnio1.val(idAgnio1.val().toUpperCase());
            if (!idAgnio1.val().match(/^[0-9]{4}$/i)) {
                idAgnio1.addClass("validError");
            } else {
                idAgnio1.removeClass("validError");
            }
        });

        var versionValue1 = $("#versionValue");
        versionValue1.keyup(function (even) {
            versionValue1.val(versionValue1.val().toUpperCase());
        });

        $("#fileSelectPDF").click(function (e) {
            e.preventDefault();
            fileElem = document.getElementById("fileElem");
            $("#fileElem").click();
            archivoPDF = null;
        });

        $("#fileElem").on("change", function () {
            fileElem = document.getElementById("fileElem");
            handleFiles(fileElem.files, $("#nameFilePDF"), archivoPDF, "pdf");
        });

        $("#fileSelectXML").click(function (e) {
            e.preventDefault();
            fileElemenXML = document.getElementById("fileElemenXML");
            $("#fileElemenXML").click();
            archivoXML = null;
        });

        $("#fileElemenXML").on("change", function () {
            fileElemenXML = document.getElementById("fileElemenXML");
            handleFiles(fileElemenXML.files, $("#nameFileXML"), archivoXML, "xml");
        });
    });



    function limpiarCampos() {
        $("input").each(function () {
            var input = $(this);
            input.val("");
        });
    };

    function handleFiles(files, varInput, archivo, tipo) {
        if (files != null && archivo == null) {
            if (!files.length) {
                console.log("No hay archivo a ejecutar");
            } else {
                archivo = files[0];
                if ((archivo.type === ("application/" + tipo) || (archivo.name.split('.')[1]) == tipo)
                    && archivo.size <= 5242880) {
                    varInput.val(archivo.name);
                } else {
                    console.log("Ocurrio un error al procesar el archivo: " + archivo.name);
                }
            }
        }
    }

    function acttivarValidaciones(){

    }

</script>
</body>
</html>